* {
    font-family: Verdana, Times, serif;
}

h1 {
    font-family: Georgia, Garamond, serif;
    text-align: center;
}

h2 {
    font-family: Garamond, serif;
}

.spaced-item li:not(:last-child) {
    margin-bottom: 10px;
}

.recipe-photo {
    border: 2px solid olive;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 95%;
}

.recipes-list {
    list-style: square;
}

.recipes-list a {
    text-decoration: none;
}